.container {
  width: 100%;
  background-color: #3bb19b;
  display: flex;
  align-items: center;
  justify-items: space-between;
}

.home {
  margin-left: 5px;
}

.white_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 120px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin: 20px;
}
